body, html {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
  
}


.header{
  height: 10%;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
}

.nav-bar {
    float: right;
    padding: 35px;
}
.nav-bar a{
    color: white;
    padding: 0 2px;
    font-size: 20px;

}

a{
    text-decoration: none;
}

.logo{
    float: left;
    margin-left: 50px;
}



.sidebar{
    background-color: brown;
    width: 60%;
    height: 70%;
    float: left;
}

.content{
    background-color:  #99ff99;
    width: 40%;
    height: 70%;
    float: right;
}

.footer{
    
    background-color: grey;
    height: 20%;
    width: 100%;
    clear: both;
}

table ,td, th{
    border: 1px solid black;
    margin-left: 10px;
    padding: 10px;
}

table{
    border-collapse: collapse; 
    background-color: aquamarine;
    width: 70%;
    height: 90%;
    margin: 15px;
    margin-left: 50px;
    
}



th{
    text-align: left;
}





ul{
    font-size: 20px;
}

h2, ul{
    margin-left: 50px;

}




  
 
  
  

    
 

